


.minting-button{
  position: absolute;
  background-color: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 0.5rem 1.8rem;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  margin-left: 450px;
  
  margin-top: -2817px;
 
  height: 50px;
  width: 140px;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  height: 40px;
  width: 130px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  color:white;
  border:none;
  border-radius: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.0px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.38);
}

.account-address{
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left:-15px;
   padding:30px 50px;
  width:100vw;
  height:60px;
  position:absolute;
  margin-top:-3425px;
  border:#fff solid 1px;
  color:white;
  border:none;
  font-style: italic;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.38);
}

.account-address>p{
  border: 1px solid rgba(255, 255, 255, 0.38);
  border-radius: 6px;
  height:35px;
  width:220px;
  padding:5px 20px;
}





.minting-button:hover{
  background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.38);
}

@media screen and (max-width: 1024px) {
  .account-address{
    position:fixed;
 
    bottom: 0;
    right: 0;
    border-left: none;
    border-right:none;
    border-bottom:none;
    width:100vw;
    margin:0px;
    overflow:hidden;
    
  }

  .minting-button{
    position: static;
    margin-top:-3785px;
    margin-left: 130px;
    width: 130px;
    display:block;
  }
}
  
