
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.hero-section{
   display:flex;
   flex-direction:row;
   margin-top: 90px;
}

.hero-section-text{
  margin-left:200px;
  color:white;

}
.hero-section-text>h1{
font-size: 70px;
width:670px;
}
.hero-section-text>h3{
font-style: normal;
margin-bottom:30px;
color: rgba(255, 255, 255, 0.753);
}
.fa-external-link-square-alt{
  color:white;
  font-size:15px;
  margin-left:10px;
}
.action-btn{
 background-color:rgba(68, 248, 68, 0.849);
 border-style: none;
 cursor:pointer;  
 padding:10px;
 color: white;
 width:200px;
 border-radius:5px;
 font-size: 20px;
}



.hero-card{
margin:8px;
display:flex;
flex-direction:column;

}
.hero-section-cards{
  margin-left:250px;
  padding:20px 20px 0px 20px;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  width:500px;
  height:600px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.38);
 
}

.img3{
  margin-top:-122px;
}

.img4{
  margin-top:-90px;
}
.img1>img{
border-radius: 7px;
width:220px;
height:240px;
}

.img2>img{
  border-radius: 7px;
  width:240px;
  height:276px;

}

.img3>img{
  border-radius: 7px;
width:220px;
height:240px;

}

.img4>img{
  border-radius: 7px;
  width:240px;
  height:207px;
}



.hero-section-socials{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.38);
    width:70px;
    padding:5px 2px 5px 20px;
    margin-left:-75px;
}



 
@media screen and (max-width: 1024px) {
  .hero-section-cards{
  margin-left:60px;
  padding:8px 8px 0px 8px;
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  width:680px;
  height:350px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.38);

  }

  .hero-section-text{
margin-left:40px;
  }
  .hero-section-text>h1{
    font-size: 30px;
    width:170px;
    }

    .img3{
      margin-top:-80px;
    }
    
    .img4{
      margin-top:-50px;
    }
    .img1>img{
    border-radius: 7px;
    width:300px;
    height:310px;
    }
    
    .img2>img{
      border-radius: 7px;
      width:320px;
      height:310px;
    
    }
    
    .img3>img{
      border-radius: 7px;
    width:100px;
    height:120px;
    
    }
    
    .img4>img{
      border-radius: 7px;
      width:120px;
      height:87px;
    }
}