.recent-arts{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
     flex-wrap: wrap;
    width: 1700px;
    align-items: center;
    margin-left:150px;
    margin-top: 100px;

}


.recent-title{
    margin-top:90px;
    margin-bottom:-90px;
    margin-left:170px;
}

.recent-art{
    display: block;
    
    width: 290px;
    height: 400px;
    margin:70px 20px;
    background-color: #7775751c;
    border-radius: 10px;
}

.recent-art:hover{
    box-shadow: 0px 0px 10px #fdfdfd;
    cursor: pointer;
}

.recent-art>h3,h4,p{
    margin: 15px;
    color: white;
    
   
}

.recent-art>h4{
    color:#505050;
}

.recent-art>img{
    width: 160px;
    height: 150px;
    border-radius: 10px;
    padding:30px;

     
}

.fa-ethereum{
    color: #0151ff;
    font-size: 20px;
   margin:5px;
     
}

.recent-art-price{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    margin-top: 10px;
    margin-left: 220px;

}




@media screen and (max-width: 1020px) {
   
    .recent-arts{
        
        width: 900px;
        display:flex;
        flex-direction:row;
        margin-left:35px;
        margin-top:240px;
    }
    .recent-art>p{
        font-size:25px;
    }
    .recent-art{
        width: 350px;
        height:450px;
        display: block;
        margin:15px 25px;
    }
    .recent-art>img{
        margin-left:50px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        padding:1px;
    }

    .recent-art-price{
        
        margin-left: 200px;
    
    }

    .recent-title{
        margin-top:240px;
        margin-bottom:-130px;
        margin-left:50px;
        font-size: 1.6rem;
    }
    
}